
body {
  background-color: #000;
  color: #fff;
  
}
.search input{
  background-color: #1a1a1a;
  border: 1px solid #444;
  color: #fff;
  border-radius: 4px;
}

.search text{
     font-size: 14px;
  color: #ccc;

}

header, footer {
  padding: 20px 40px;
  
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #444;
}

nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  flex-wrap: wrap;
}

.resumo {
  width: 40%;
  background-color: #000;
  padding: 20px;
}

.titulo-resumo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.titulo-resumo .icone {
  width: 12px;
  height: 25px;
  background-color: #788199;
  border-radius: 4px;
  position: relative;
  margin-right: 0px;
  left: 70px;
}

.titulo-resumo h2 {
  color: #788199;
  font-size: 25px;
  position: relative;
  margin-left: 80px;
  
}

.linha {
  display: flex;
  justify-content: space-between;
  margin: 10px 70px;
  font-size: 15px;
  margin-top: 100px;
  position: relative;
  left: 70px;
}

.subtot {
    display: flex;
  margin-top: 30px;
  padding-top: 10px;
   margin: 10px 0px;
  position: relative;
   justify-content: space-between;
}

.total {
display: flex;
border-top: 1px solid #333;
  font-weight: bold;
  font-size: 16px;
  padding-top: 5px;
  position: relative;
   margin: 40px 0px;
   justify-content: space-between;

}

.pagamento-titulo {
  margin-top: 20px;
  font-size: 16px;
}

.formas-pagamento {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.opcao-pagamento {
  display: inline-flex;
  align-items: center;
  padding: 5px 0px;
  margin-right: 0px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: -40px;
  position: relative;
  left: 250px;
}

.opcao-pagamento input[type="radio"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid white;
  border-radius: 50%;
  margin-right: 8px;
  cursor: pointer;
  background-color: transparent;
  position: relative;
}

.opcao-pagamento input[type="radio"]:checked::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
}


.opcao-pagamento img {
  height: 18px;
  width: auto;
  border-radius: 4px;
  padding: 2px;
}


.formulario {
  width: 50%;
  padding: 20px;
}

.formulario input[type="text"],
.formulario input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #1a1a1a;
  border: 1px solid #444;
  color: #fff;
  border-radius: 4px;
}

.formulario label {
  font-size: 14px;
  color: #ccc;
}

.formulario .checkbox {
  margin-top: 10px;
}

.formulario button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #788199;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.main-footer {
    background-color: #111;
    color: #aaa;
    padding: 40px 20px;
    font-size: 0.8em;
    margin-top: 300px;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
}

.footer-section {
    text-align: left;
}

.footer-section h3 {
    color: #eee;
    margin-bottom: 10px;
    font-size: 1em;
    margin-left: 80px;
}

.footer-section p{
 margin-left: 80px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
    margin-left: 80px;
}

.footer-section a {
    color: #aaa;
    text-decoration: none;
}

.footer-section a:hover {
    color: #fff;
}



.subscribe input[type="email"] {
    padding: 8px;
    border: 1px solid #444;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
    margin-right: 5px;
    width: calc(100% - 100px);
    max-width: 200px;
}

.subscribe button {
    padding: 8px 12px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.download-app {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.download-app img {
    max-width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.app-images {
    display: flex;
    gap: 10px;
    background-image: url(../img/qrcode.jpg);
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 80px;
}

.image-button,
.image-button2 {
    display: flex;
    background-repeat: no-repeat;
    position: relative;
    margin-left: 90px;
    width: 90px;
    height: 30px;
    border: none;
    padding: 0;
    cursor: pointer;
}

.image-button2 {
    margin-top: 10px;
}

.googleplay-btn {
    background-image: url(../img/googleplaylogo.png);
    background-size: cover;
    border: 1px solid white;
    position: relative;
    right: 80px;
}

.appstore-btn {
    background-image: url(../img/applestorelogo.jpg);
    background-size: cover;
    border: 1px solid white;
     position: relative;
    right: 80px;
    top: 10px;
    
}

.social-icons a {
    margin-right: 10px;
    font-size: 1.2em;
    color: #aaa;
    position: relative;
    left: 580px;
    margin-top: -10px;
}

.social-icons a:hover {
    color: #fff;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #222;
}

.copyright {
    text-align: center;
    margin-top: 10px;
    color: #777;
}


#nav-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    left: 750px;
}

#nav-bar {
    display: flex;
    gap: 60px;
}

.input-button-wrapper {
    display: flex;
    width: 170px;
    height: 40px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #ccc;
    margin-left: 80px;
}

.input-button-wrapper input[type="email"] {
    flex-grow: 1;
    border: none;
    padding: 10px;
    font-size: 1em;
    outline: none;
    margin-top: 9px;
}

.input-button-wrapper button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 0 10px;
    cursor: pointer;
    width: 45px;
    background-image: url(../img/seta.png);
    background-size: cover;
}